#weatherResults {
    background-color: rgb(224, 227, 233);
    width: 45%;
    padding: 0.5em;
    border-radius: 5%;
    margin: auto;
}

#forecastResults {
    /* http://www.brandgradients.com/sunset-gradient/ */
    /* https: //uigradients.com/#Sunset */
    background: #f5651cd0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f5651cd0, #3e5879c6, #112736d9, #01070bee);
    /* Chrome 10-25, Safari 5.1-6 */

    background: linear-gradient(to bottom, #f5651cd0, #3e5879c6, #112736d9, #01070bee);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#forecastResults div {
    padding-top: 0.75em;
}
